<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfApp_SmartCookbook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WpfApp_SmartCookbook.Properties.Settings>
            <setting name="FilledHeart" serializeAs="String">
                <value>🖤</value>
            </setting>
            <setting name="EmptyHeart" serializeAs="String">
                <value>❤</value>
            </setting>
            <setting name="Markedfavorite" serializeAs="String">
                <value>Marked as favorite</value>
            </setting>
            <setting name="Markfavorite" serializeAs="String">
                <value>Mark as favorite</value>
            </setting>
        </WpfApp_SmartCookbook.Properties.Settings>
    </userSettings>
</configuration>